*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}


html{
    --black:#0D114F;
    --white:#FAFAFA;
    --red:#E83F5B;
    --light-blue:#E0ECFF;
    --blue:#3485FF;
    --background:#FBFCFF;
    --overlay:#040911;
    --icons-details:#A5B0C1;
    --grey-dark:#4d5e77;
    --grey-blue:#a1b2cd;
    --grey-light:#E5EAF1;
    --grey-medium:#eaecf2;
     /*1rem = 16px (user agent) = 100%*/
    font-size:62.5%;
}

body{
    height: 100vh;
    background: var(--background);
    display: flex;
}

body, button, input, textarea{
    /*intervalo de tamanho*/
    font-size:clamp(14px, 1.6rem, 2vw);
    font-family: 'open Sans', sans-serif;
}
.sr-only{
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}

.content{
    width: 100%;
    
    margin: 0 auto;
}

/* input */

button,input, .button{
    height: 5rem;
    border-radius: .8rem;
}

button, .button{
    font-family: 'Poppins';
    font-weight: 500;
    line-height: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    background: var(--blue);
    color:var(--white);
    cursor: pointer;
}

button:hover, .button:hover{
    filter: brightness(1.2);
}

button > img,
.button > img{
    margin-right: 1rem;
    width: 2rem;
}

button.outlined,
.button.outlined{
    background: var(--white);
    color:var(--blue);
    border: .2rem solid var(--blue);
}


button.red, .button.red{
    background-color: var(--red);
    color:var(--white);
}
button.grey, .button.grey{
    background-color: var(--grey-light);
    color:var(--grey-dark);
}

/* HEADER */


.content header{
    width: 80%;
    margin: 3.5rem .7rem;
}

.content header img{
    width: 16.7rem;
    
}