.content{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 11.4rem 1fr;
    grid-template-areas: 
    'header header'
    'left right';
}

header{
    grid-area: header;
    
    
}

#bg{
    grid-area: left;
    background: url('/images/home-bg-img.svg') no-repeat top/contain;
    background-position-x: -13rem ;
}

main{
    grid-area: right;
    display: flex;
    align-items:center;
    margin-top: -12rem;
}

main .container{
    width:min(36.3rem, 100%);
}

main h2{
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: clamp(2.8rem, 20px, 5vw);
    margin-bottom: 2.4rem;
}



input{
    border: .2rem solid var(--grey-blue);
    padding: 0 1.6rem;
    height: 5rem;
    outline: none;
}

input, button, .button{
    width: 100%;
    margin-bottom: 1.8rem;
}

/* Separator line */

.separator{
    display: flex;
    align-items: center;
    margin: 4rem 0;
}

.separator div:nth-child(2){
    color: var(--grey-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    padding: 0 1.35rem;
    line-height: 0;
    
}

.separator div:nth-child(1),
.separator div:nth-child(3){
    background: var(--grey-blue);
    width: 100%;
    height: 1px;
}

/* balls */

.ball{
    width:21.2rem;
    height:21.2rem;
    background: var(--grey-blue);
    
    clip-path: circle();
    position: fixed;
    opacity: 0.1;
}
.ball.top{
    top: -46rem;
    width:63.3rem;
    right:-35rem;
    height:63.3rem;
}
.ball.bottom{
    bottom:-15rem;
    right:5.6rem;
}