<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <!-- css -->
    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">
    <!-- fontes -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@500;700&display=swap" rel="stylesheet">
    <title>Rocketseat-NLW2021</title>
</head>
<body>
    <div id="home" class="content">

        <header>
            <a href="/">
                <img src="/images/logo.svg" alt="Rocketseat-NLW2021" srcset="">
            </a>
        </header>
        <div id="bg">
            <div class="ball top"></div>    
            <div class="ball bottom"></div>    
        </div>
        <main>
            <div class="container">
                <%- include(`parts/${page}`)  %> 
            </div>
        </main>

    </div>
    
    
</body>
</html>