<section>                
    <h2>Crie sua própria sala</h2>
    <form action="/create-room" method="POST" >
        <label class="sr-only" for="room-pass">Insira uma senha</label>
        <input type="password" name="password" id="room-pass" placeholder="Insira uma senha">
        <button>
            <img src="/images/userswhite.svg" alt="Criar sala" srcset="">
            Criar Sala
        </button>
    </form>
</section>